<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <title>Rescate de Patitas</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="/css/animated.css">
    <link rel="stylesheet" href="/css/owl.css">
    <!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
</head>

<body onpageshow="loginError();faltaLogin();">

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo"><img src="images/perroygato.png" style="width: 60px; "> GESOC
                    </a>

                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    {{>headerMainTemplate.hbs}}
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="main-banner">
    <!-- Modal -->
    {{>ingresoModal.hbs}}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="top-text header-text">
                    <h6>Adopta cerca de tu zona</h6>
                    <h2>Encontra a tu futuro mejor amigo</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <form id="search-form" name="gs" method="submit" role="search" action="#">
                    <div class="row">
                        <div class="col-lg-3 align-self-center">
                            <fieldset>
                                <select name="area" class="form-select" aria-label="Area" id="chooseCategory"
                                        onchange="this.form.click()">
                                    <option selected>Zona</option>
                                    <option value="Villa Urquiza">Villa Urquiza</option>
                                    <option value="Flores">Flores</option>
                                    <option value="Palermo">Palermo</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-3 align-self-center">
                            <fieldset>
                                <select name="area" class="form-select" aria-label="Area" id="chooseCategory"
                                        onchange="this.form.click()">
                                    <option selected>Tipo De Animal</option>
                                    <option value="Villa Urquiza">Perro</option>
                                    <option value="Flores">Gato</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-3 align-self-center">
                            <fieldset>
                                <select name="price" class="form-select" aria-label="Default select example"
                                        id="chooseCategory" onchange="this.form.click()">
                                    <option selected>Tamaño de animal</option>
                                    <option value="1">Chico</option>
                                    <option value="2">Mediano</option>
                                    <option value="3">Gramde</option>

                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-3">
                            <fieldset>
                                <button class="main-button"><i class="fa fa-search"></i> Buscar</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <ul class="categories">
                    <li><a href="#"><span class="icon"><img src="images/dog.png" alt="Home"></span> Perros</a></li>
                    <li><a href="#"><span class="icon"><img src="images/cat.png" alt="Vehicle"></span> Gatos</a></li>
                    <li><a href="#"><span class="icon"><img src="images/perroygato.png" alt="Travel"></span> Ambos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-12 text-center">
            <h2 style="margin-top: 25px;">¿ENCONTRASTE UN AMIGUITO PERDIDO?</h2>
            <h4 style="margin-top: 25px;">Indicanos si tiene chapita:</h4>
            <div style="margin-top: 20px;">
                <a href="/encontreMascotaConChapita" class="btn btn-success" role="button" aria-disabled="true"
                   style="padding: 20px; margin-right: 25px;">CON CHAPITA</a>
                <a href="/encontreMascotaSinChapita" class="btn btn-danger" role="button" aria-disabled="true"
                   style="padding: 20px;">SIN CHAPITA</a>
            </div>
        </div>
    </div>
</div>

<div id="errorLoginDiv" class="modal fade show" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" style="padding-right: 17px; display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Credenciales Incorrectas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarPopup()"></button>
            </div>
            <div class="modal-body">
                Volver a intentar
            </div>
        </div>
    </div>
</div>


<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-1 mb-2">
        <li class="nav-item"><a href="/nosotros" class="nav-link px-3 text-muted">Nosotros</a></li>
        <li class="nav-item"><a href="/FAQs" class="nav-link px-3 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="/contacto" class="nav-link px-3 text-muted">Contacto</a></li>
    </ul>
    <p class="text-center text-muted">© Rescate de Patitas</p>
</footer>


<!-- Scripts -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/animation.js"></script>
<script src="/js/imagesloaded.js"></script>
<script src="/js/custom.js"></script>
<script>
    function loginError(){
        if (location.hash === "#loginError") {
            var x = document.getElementById("errorLoginDiv");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    }
    function faltaLogin(){
        if (location.hash === "#faltaLogin") {
            $("#exampleModal").modal('show')
        }
    }
    function cerrarPopup() {
        window.location = "/login";
    }
</script>

</body>

</html>

